<!DOCTYPE html>
<html>
  <head>
    <title>{{ username }}'s Subscriptions</title>
  </head>
  <body>
    <h1>This is the user page</h1>

    <p>Current Subscriptions - may be empty if nothing is in the database for a user</p>
    <table>
        <tr>
            <th>Subscription Name</th>
            <th>Price per Month</th>
            <th>Purchase Date</th>
            <th>Renewal Date</th>
        </tr>
        {% for row in data %}
        <tr>
            <th>{{ row[0] }}</th>
            <th>{{ row[1] }}</th>
            <th>{{ row[2] }}</th>
            <th>{{ row[3] }}</th>
        </tr>
        {% endfor %}
    </table>

    <form action="{{ url_for('add_subscription', username=username) }}" method='GET'>
        <input type='submit' value='Add Subscription'>
    </form>

    <form action="{{ url_for('logout') }}">
      <input type='submit' value='Logout'>
    </form>


  </body>
</html>
