@font-face {
  font-family: Roboto-Med;
  src: url(../Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Regular.ttf);
}

body {
  font-family: Roboto !important;
}
