<!DOCTYPE html>
<html>
  <head>
    <title>Add Sub</title>
  </head>
  <body>
    <h1>Add Sub Page</h1>

    <form action="{{ url_for('add_subscription') }}" method='POST'>
        <label for="sub_name">Subscription Name</label>
        <input type='text' name='sub_name'>
        <br>

        <label for="sub_price">Price per Month</label>
        <input type='text' name='sub_price'>
        <br>

        <label for="sub_purchase_date">Purchase Date</label>
        <input type='text' name='sub_purchase_date'>
        <br>

        <label for="sub_renewal_date">Renewal Date</label>
        <input type='text' name='sub_renewal_date'>
        <br>

        <label for="notification_type">Notification Type</label>
        <input type='radio' name="notification_type" value="text">Text <br>
        <input type='radio' name="notification_type" value="email">Email <br>
        <input type='radio' name="notification_type" value="none">None <br>

        <input type='submit' value='Add to Profile'>
    </form>
  </body>
</html>
