<html>
<head>
		<link rel="stylesheet" href="../static/css/global.css">
		<link rel="stylesheet" href="../static/css/home.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/js/bootstrap.min.js">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(document).ready(function() {
				$("#entertainment_view").click(function() {
					$("#entertainment_table").slideToggle();
				});

				$("#education_view").click(function() {
					$("#education_table").slideToggle();
				});
			});
		</script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
	<body id="home" class="home">
        <header class="d-flex py-3 px-5 align-items-center justify-content-between">
            <h1 class="title">
                ScrubHub
            </h1>
            <h4 class="subtitle">
                Hello, {{ name }}
            </h4>
        </header>
        <main class="d-flex mt-3">
            <div class="div1 mx-5">
                <div class="labels1 d-flex justify-content-between align-items-center">
                    Subscription Categories
                    <a href="{{ url_for('add_subscription') }}" class="btn btn-outline-primary mb-2">New Subscription</a>
                </div>
                <div class="categories d-flex flex-column">
                    <div class="card mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Entertainment
                            <span>${{ entertainment_amount }}</span>
                            <button class="btn btn-outline-primary" id="entertainment_view">View</button>
                        </div>

			<table id="entertainment_table" style="display: none; text-align: center; margin: 20px;">
				<tr style="background-color: #007bff; color: white">
					<th>Subscription Name</th>
					<th>Price per Month</th>
					<th>Renewal Date</th>
					<th>Notification Method</th>
					<th>Active Subscription</th>
					<th>Manage</th>
					<th>Remove</th>
				</tr>

				{% for sub in entertainment_subs %}
				<tr style="border-bottom: 1px solid #007bff;">
					<td>{{ sub[1] }}</td>
					<td>${{ sub[2] }}</td>
					<td>{{ sub[3] }}</td>
					<td>{{ sub[4] }}</td>
					<td>
						{% if sub[6] == 1%}
							Active
						{% else %}
							Inactive
						{% endif %}
					</td>
					<td><a href="{{ url_for('manage_subscription', sub_name=sub[1]) }}">Edit</a></td>
					<td><a href="{{ url_for('delete_subscription', sub_name=sub[1]) }}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
                    </div>
                    <div class="card mb-5">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Education
                            <span>${{ education_amount }}</span>
                            <button class="btn btn-outline-primary" id="education_view">View</button>
                        </div>

                        <table id="education_table" style="display: none; text-align: center; margin: 20px;">
							<tr style="background-color: #007bff; color: white">
								<th>Subscription Name</th>
								<th>Price per Month</th>
								<th>Renewal Date</th>
								<th>Notification Method</th>
								<th>Active Subscription</th>
								<th>Manage</th>
								<th>Remove</th>
							</tr>

							{% for sub in education_subs %}
							<tr style="border-bottom: 1px solid #007bff;">
								<td>{{ sub[1] }}</td>
								<td>${{ sub[2] }}</td>
								<td>{{ sub[3] }}</td>
								<td>{{ sub[4] }}</td>
								<td>
									{% if sub[6] == 1%}
										Active
									{% else %}
										Inactive
									{% endif %}
								</td>
								<td><a href="{{ url_for('manage_subscription', sub_name=sub[1]) }}">Edit</a></td>
								<td><a href="{{ url_for('delete_subscription', sub_name=sub[1]) }}">Delete</a></td>
							</tr>
							{% endfor %}

						</table>

                    </div>
                </div>
                <div class="labels1 mb-2">
                    My Subscriptions
                </div>

                <div class="manage">
                        {% for sub in active_subs %}
                                <div class="card d-flex align-items-center" style="width: 18rem; margin-right: 15px; float: left;">
                                        {% if sub[1] == 'Netflix' %}
                                                <img class="card-img-top" src="../static/images/netflix4.png" alt="Card image cap">
                                        {% elif sub[1] == 'Chegg' %}
                                                <img class="card-img-top" src="../static/images/chegg1.jpg" alt="Card image cap" style="height: 160px; width: 200px;">
                                        {% else %}
                                                <h2 style="margin-top: 15px; height: 137px; width: 200px; text-align: center">{{ sub[1] }}</h2>
                                        {% endif %}
                                        <div class="card-body">
                                            <a href="{{ url_for('manage_subscription', sub_name=sub[1]) }}" class="btn btn-primary manage-btn">Manage</a>
                                        </div>
                                </div>
                        {% endfor %}
                </div>


            </div>
            <div class="div2 ml-5 mt-5">
                <div class="personal">
                    <div class="card text-center" id="cardPersonal">
                        <div class="card-body">
                            <img src="../static/images/person.png" alt="" class="person mb-3">
                            <h5 class="card-title mb-2">{{ name }}</h5>
                            <p class="card-text mb-4">Charlotte, NC</p>
                            <div class="subcard">
                                <p class="card-text mb-2" id="cardtext1">{{ total_subs }} Subscriptions</p>
                                <p class="card-text mb-4" id="cardtext2">${{ total_sub_amount }} in Subscriptions</p>
                            </div>
                            <a href="{{ url_for('user_settings') }}" class="mb-4">User Settings</a>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Expand</a>
                        </div>
                    </div>
                </div>
				<div class="text-center">
                        <br>
                        <br>
                        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
                        <div>
                                <br>
                            <a href="{{ url_for('test_text') }}" class="btn btn-primary">Test Text</a>
                            <a href="{{ url_for('test_email') }}" class="btn btn-primary">Test Email</a>
                        </div>
                </div>
            </div>
        <main>
		<footer class="footer fixed-bottom">
			<nav class="nav d-flex justify-content-center">
				<a class="nav-link" href="#">About Us</a>
				<a class="nav-link" href="#">Security</a>
				<a class="nav-link" href="#">Terms of Service</a>
				<a class="nav-link" href="#">Social Media</a>
				<a class="nav-link" id="rightsLabel">Copyright 2019 ScrubHub All Rights Reserved Charlotte, NC</a>
			</nav>
		</footer>
	</body>
</html>
