<html>
	<head>
		<link rel="stylesheet" href="../static/css/global.css">
		<link rel="stylesheet" href="../static/css/login.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/js/bootstrap.min.js">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body id="createAccount" class="createAccount">
		<header class="d-flex py-3 px-5 align-items-center justify-content-between">
			<h1 class="title">
				ScrubHub
			</h1>
			<h4>
				<a href="">Sign Up</a>
			</h4>
		</header>
		<main class="d-flex flex-column align-items-center mt-5">
			<section class="form-section d-flex mt-2">
				<form action="{url_for('handle_signin')}" method="POST">
					<div class="form-group" id="firstName">
						<label for="inputEmail" id="emailLabel">Email</label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
					</div>
					<div class="form-group">
                        <label for="exampleInputPassword1" id="passwordLabel">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
					<div class="form-check" id="checkBox">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1" id="policyCheckLabel">I agree to Scrubhub Terms and Conditions</label>
					</div>
					<button type="submit" class="btn btn-primary btn-lg">GET STARTED</button>
					<div class="routeLogIn">
						<div id="signedUp">Not Signed Up?</div>
						<div id="logInInstead">
							<a href="createAccount.html">SIGN UP</a>
						</div>
					</div>
				</form>
			</section>
		</main>
		<footer class="footer fixed-bottom">
			<nav class="nav d-flex justify-content-center">
				<a class="nav-link" href="#">About Us</a>
				<a class="nav-link" href="#">Security</a>
				<a class="nav-link" href="#">Terms of Service</a>
				<a class="nav-link" href="#">Social Media</a>
				<a class="nav-link" id="rightsLabel">Copyright 2019 ScrubHub All Rights Reserved Charlotte, NC</a>
			</nav>
		</footer>
	</body>
</html>
