<html>
<head>
	<link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/manageSubscription.css">
	<link rel="stylesheet" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/bootstrap-4.1.3/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body id="createAccount" class="createAccount">
		<header class="d-flex py-3 px-5 align-items-center justify-content-between">
			<h1 class="title">
				ScrubHub
			</h1>
			<h3 class="login">
				<button type="button" id="loginBtn" class="btn btn-outline-primary">Log In</button>
			</h3>
		</header>
		<main class="d-flex flex-column align-items-center">
			<section class="steps-section d-flex py-3 w-100 justify-content-center">
				<div class="steps d-flex flex-row justify-content-between">
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step1.png" alt="" id="step1Icon">
						<span>Create Account</span>
					</div>
					<div class="right-arrow d-flex align-items-center justify-content-center">
						<?xml version="1.0" encoding="iso-8859-1"?>
						<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="22px" height="22px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
								xml:space="preserve">
							<g>
							<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
								c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
								c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
								c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
								c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
						</svg>
					</div>
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step2.png" alt=""  id="step2Icon">
						<span>Notification Method</span>
					</div>
					<div class="right-arrow d-flex align-items-center justify-content-center">
						<?xml version="1.0" encoding="iso-8859-1"?>
						<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="22px" height="22px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
								xml:space="preserve">
							<g>
							<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
								c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
								c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
								c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
								c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
						</svg>
					</div>
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step3.png" alt="" id="step3Icon">
						<span class="blue">Manage Subscription</span>
					</div>
				</div>
			</section>
			<div class="d-flex subtitle align-items-center">
				<h5 class="subtitle mt-4">
					Please choose a subscription to start managing:
				</h5>
			</div>
			<div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="../static/images/netflix4.png" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../static/images/netflix3.png" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../static/images/netflix3.png" alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev mt-5" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next mt-5" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="">
				<form action="{{ url_for('user_data') }}" method="POST">
					<button type="submit" class="btn btn-primary btn-lg">NEXT</button>
				</form>
			</div>
		</main>
		<footer class="footer fixed-bottom">
			<nav class="nav d-flex justify-content-center">
				<a class="nav-link" href="#">About Us</a>
				<a class="nav-link" href="#">Security</a>
				<a class="nav-link" href="#">Terms of Service</a>
				<a class="nav-link" href="#">Social Media</a>
				<a class="nav-link" id="rightsLabel">Copyright 2019 ScrubHub All Rights Reserved Charlotte, NC</a>
			</nav>
		</footer>
	</body>
</html>
