<html>
	<head>
		<link rel="stylesheet" href="../static/css/global.css">
		<link rel="stylesheet" href="../static/css/notificationMethod.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/bootstrap-4.1.3/js/bootstrap.min.js">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body id="createAccount" class="createAccount">
		<header class="d-flex py-3 px-5 align-items-center justify-content-between">
			<h1 class="title">
				ScrubHub
			</h1>
			<h4>
				<a href="{{ url_for('Sign_In') }}">LOG IN</a>
			</h4>
		</header>
		<main class="d-flex flex-column align-items-center">
			<section class="steps-section d-flex py-3 w-100 justify-content-center">
				<div class="steps d-flex flex-row justify-content-between">
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step1.png" alt="" id="step1Icon">
						<span>Create Account</span>
					</div>
					<div class="right-arrow d-flex align-items-center justify-content-center">
						<?xml version="1.0" encoding="iso-8859-1"?>
						<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="22px" height="22px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
								xml:space="preserve">
							<g>
							<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
								c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
								c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
								c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
								c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
						</svg>
					</div>
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step2.png" alt=""  id="step2Icon">
						<span class="blue">Notification Method</span>
					</div>
					<div class="right-arrow d-flex align-items-center justify-content-center">
						<?xml version="1.0" encoding="iso-8859-1"?>
						<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="22px" height="22px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
								xml:space="preserve">
							<g>
							<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
								c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
								c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
								c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
								c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
						</svg>
					</div>
					<div class="step d-flex flex-column align-items-center">
						<img src="../static/images/step3.png" alt="" id="step3Icon">
						Manage Subscription
					</div>
				</div>
			</section>
			<section class="form-section d-flex flex-column align-items-center mt-4">
				<form action="{{ url_for('select_subscriptions') }}" method='POST'>
                <div class="d-flex subtitle align-items-center">
                    <h5>
                        Please select a form of notification:
                    </h5>
				</div>
				<div class="notify d-flex flex-row mt-5">
					<div class="email-notify">
							<?xml version="1.0" encoding="iso-8859-1"?>
							<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
							<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
							<svg class="email" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
								<path d="M448,64H64C28.656,64,0,92.656,0,128v256c0,35.344,28.656,64,64,64h384c35.344,0,64-28.656,64-64V128
									C512,92.656,483.344,64,448,64z M342.656,234.781l135.469-116.094c0.938,3,1.875,6,1.875,9.313v256
									c0,2.219-0.844,4.188-1.281,6.281L342.656,234.781z M448,96c2.125,0,4,0.813,6,1.219L256,266.938L58,97.219
									C60,96.813,61.875,96,64,96H448z M33.266,390.25C32.828,388.156,32,386.219,32,384V128c0-3.313,0.953-6.313,1.891-9.313
									L169.313,234.75L33.266,390.25z M64,416c-3.234,0-6.172-0.938-9.125-1.844l138.75-158.563l51.969,44.531
									C248.578,302.719,252.297,304,256,304s7.422-1.281,10.406-3.875l51.969-44.531l138.75,158.563C454.188,415.062,451.25,416,448,416
									H64z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
							<input type="radio" name="notification_method" value="email" checked>
					</div>
					<div class="text-notify">
							<?xml version="1.0" encoding="iso-8859-1"?>
							<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
							<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
							<svg class="text" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="35px" height="35px" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve">
							<g>
								<path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604
									c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287
									c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818
									c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625
									H8.979V3.749h17.042V30.625z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
							<input type="radio" name='notification_method' value="text">
					</div>
				</div>
				<div class="next-button mt-5">
					<button type="submit" class="btn btn-primary btn-lg">NEXT</button>
				</div>
			</form>
			</section>
		</main>
		<footer class="footer fixed-bottom">
			<nav class="nav d-flex justify-content-center">
				<a class="nav-link" href="#">About Us</a>
				<a class="nav-link" href="#">Security</a>
				<a class="nav-link" href="#">Terms of Service</a>
				<a class="nav-link" href="#">Social Media</a>
				<a class="nav-link" id="rightsLabel">Copyright 2019 ScrubHub All Rights Reserved Charlotte, NC</a>
			</nav>
		</footer>
	</body>
</html>
