<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>This is the sign up page<h1>

    <!--This will be handle sign -->
    <form action="{{ url_for('handle_signin') }}" method='post'>
        <lable for="signup_username">Username</lable>
        <input type='text' name='signup_username'>
        <br>
        <lable for="signup_password">Password</lable>
        <input type='password' name='signup_password'>
        <br>
        <input type='submit'>
    </form>

  </body>
</html>
