<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <h1>This is the home page<h1>

    <form action="{{ url_for('handle_signin') }}" method='post'>
        <input type='text' name='signin_username'>
        <input type='password' name='signin_password'>
        <input type='submit'>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <p>Are you a new user? <a href="{{ url_for('signup') }}">Click here to create an account</a>
  </body>
</html>
