<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>This is the sign up page<h1>

    <!--This will be handle sign -->
    <form action="{{ url_for('handle_signup') }}" method="POST">
        <label for="username">Username</label>
        <input type='text' name='username'>
        <br>

        <label for="password">Password</label>
        <input type='password' name='password'>
        <br>

        <label for="phone_number">Phone Number</label>
        <input type='password' name='phone_number'>
        <br>

        <label for="email">Email</label>
        <input type='password' name='email'>
        <br>

        <input type='submit'>
    </form>

  </body>
</html>
