<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <h1>This is the home page<h1>

    {% if account_creation %}
        <p>{{ account_creation }}</p>
    {% endif %}

    <form action="{{ url_for('handle_signin') }}" method='post'>
        <lable for="signup_username">Username</lable>
        <input type='text' name='signin_username'>
        <br>
        <lable for="signup_password">Password</lable>
        <input type='password' name='signin_password'>
        <br>
        <input type='submit'>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <p>Are you a new user? <a href="{{ url_for("handle_signup") }}">Click here to create an account</a>
  </body>
</html>
